#highscore {
  font-weight: bold;
  color: indigo;
}

#timer {
  font-weight: bold;
  color: indigo;
}

#title {
  font-weight: bold;
}

.btnstyle {
  background-color: indigo;
  color: white;
  font-weight: bold;
  margin: 1%;
}

/* #startcard {
  margin-left: 20%;
  margin-right: 20%
} */